################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Applications/bin/Debug/net6.0
/Applications/obj
/Domain/bin/Debug/net6.0
/Domain/obj
/Infrastructer/obj
/Infrastructure/obj
/shopsrus-case-api/obj
/shopsrus-case-api/.sonarqube
/Tests/obj
/Infrastructure/bin/Debug/net6.0
/shopsrus-case-api/bin/Debug/net6.0
/Tests/bin/Debug/net6.0
